[submodule "3dsim"]
	path = 3dsim
	url = git@github.com:curzonj/threejs1.git
[submodule "auth"]
	path = auth
	url = git@github.com:curzonj/spacebox-auth.git
[submodule "tech"]
	path = api
	url = git@github.com:curzonj/spacebox-tech.git
[submodule "agents"]
	path = agents
	url = git@github.com:curzonj/spacebox-npc-agent.git
[submodule "ui"]
	path = ui
	url = git@github.com:curzonj/spacebox-ui.git
[submodule "common"]
	path = common
	url = git@github.com:curzonj/spacebox-nodejs-common.git
[submodule "common-native"]
	path = common-native
	url = git@github.com:curzonj/spacebox-nodejs-common-native.git
